@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fdfdfd;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .screen-max-header {
  width: 1220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  padding: 1rem 0;
}
header .screen-max-header .logo-header .img-logo-header {
  width: 50px;
}
header .screen-max-header .nav-header {
  display: flex;
  align-items: center;
  gap: 40px;
}
header .screen-max-header .nav-header a {
  position: relative;
  font-size: 0.9rem;
  color: #282828;
  text-decoration: none;
  font-family: "poppins";
  font-weight: 500;
}
header .screen-max-header .nav-header a::before {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #8a349b;
  text-shadow: 1px 0.5px 5px rgba(0, 0, 0, 0);
  transition: all 0.4s;
}
header .screen-max-header .nav-header a:hover::before {
  width: 100%;
}
header .screen-max-header .nav-header div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 225px;
  margin-left: 90px;
}
header .screen-max-header .nav-header div .button-whatsapp {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fdfdfd;
  border-color: #8a349b;
  border-radius: 5rem;
  padding: 12px;
  border: none;
  border: 2.5px solid #8a349b;
  transition: all 0.3s linear;
  cursor: pointer;
}
header .screen-max-header .nav-header div .button-whatsapp p {
  font-family: "poppins";
  font-size: 1.1em;
  font-weight: 500;
}
header .screen-max-header .nav-header div .button-whatsapp:hover {
  border-bottom: 5px solid #8a349b;
  border-right: 5px solid #8a349b;
  transform: scale(1.1);
}

main {
  padding: 5em 0;
}
main .screen-max-main {
  width: 1220px;
  font-family: "poppins";
  display: flex;
  align-items: center;
  gap: 90px;
  justify-content: space-between;
}
main .screen-max-main .text-titles-main {
  width: 580px;
}
main .screen-max-main .text-titles-main h1 {
  font-size: 2.8em;
  text-transform: uppercase;
  color: #282828;
}
main .screen-max-main .text-titles-main h1 strong {
  color: #8a349b;
  text-decoration: none;
}
main .screen-max-main .text-titles-main h1 strong b {
  font-size: 35px;
}
main .screen-max-main .text-titles-main p {
  width: 500px;
  text-align: justify;
  margin: 2em 0;
  color: #4b4b4b;
  font-size: 14px;
  font-stretch: expanded;
}
main .screen-max-main .text-titles-main div button {
  margin-top: 1em;
  padding: 15px;
  font-size: 1em;
  font-weight: 600;
  border: 2px solid #8a349b;
  background-color: #fdfdfd;
  border-radius: 40px;
  color: #8a349b;
  transition: all 0.5s;
  cursor: pointer;
}
main .screen-max-main .text-titles-main div button:hover {
  color: #fdfdfd;
  background-color: #8a349b;
}
main .screen-max-main img {
  width: 530px;
}

.portifolio-section {
  margin: 4em;
}
.portifolio-section .slide {
  overflow: hidden;
  width: 800px;
}
.portifolio-section .slide .container-carroussel {
  display: flex;
  transition: all 0.4s;
}
.portifolio-section .slide .container-carroussel picture img {
  width: 800px;
}
.portifolio-section .section-arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.portifolio-section .section-arrows .arrows {
  display: flex;
  align-items: center;
  position: relative;
  top: -200px;
  border-radius: 50%;
  background-color: #8a349b;
  font-size: 4rem;
  padding: 10px;
  color: #fdfdfd;
  transition: transform 0.4s linear;
  cursor: pointer;
  border: none;
}
.portifolio-section .section-arrows .arrows:hover {
  transform: scale(1.1);
}
.portifolio-section .section-arrows .arrows:disabled {
  background-color: rgba(75, 75, 75, 0.2470588235);
  cursor: default;
}
.portifolio-section .section-arrows .arrows:disabled:hover {
  transform: scale(1);
}
.portifolio-section .section-arrows .arrow-left {
  left: -40px;
}
.portifolio-section .section-arrows .arrow-right {
  right: -40px;
}
.portifolio-section .section-arrows div {
  display: flex;
  align-items: center;
  gap: 30px;
}
.portifolio-section .section-arrows div .slide-on {
  border-radius: 50%;
  color: #8a349b;
  background-color: #8a349b;
  border: none;
  width: 20px;
  height: 20px;
  transition: all 0.4s;
}
.portifolio-section .section-arrows div .slide-on:disabled {
  background-color: rgba(75, 75, 75, 0.2470588235);
}

.service {
  padding: 50px 0;
  background-color: #d747f5;
  background-image: linear-gradient(208deg, #d747f5 0%, #8a2899 50%, #8a349b 100%);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.service .service-title {
  font-family: "poppins";
  text-align: center;
  padding-bottom: 30px;
}
.service .service-title p {
  font-weight: 700;
  color: #282828;
}
.service .service-title h2 {
  font-size: 2em;
  color: #fdfdfd;
}
.service .grid-type-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1220px;
  gap: 30px;
  flex-wrap: wrap;
}
.service .grid-type-services .card-service {
  font-family: "poppins";
  padding: 32px;
  border-radius: 20px;
  transition: transform 0.2s linear;
  background-color: #fdfdfd;
}
.service .grid-type-services .card-service .circle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 217, 0, 0.3019607843);
  width: 50px;
  height: 50px;
  border-radius: 20% 50% 30% 50%;
}
.service .grid-type-services .card-service .circle-icon ion-icon {
  color: #8a349b;
  font-size: 30px;
}
.service .grid-type-services .card-service h2 {
  color: #8a349b;
  font-weight: 600;
}
.service .grid-type-services .card-service p {
  text-align: justify;
  margin-top: 5px;
  color: #4b4b4b;
  font-size: 13px;
}
.service .grid-type-services .card-service:hover {
  transform: scale(1.05);
}

/*# sourceMappingURL=index.css.map */
